@page
@using FUMiniHotelManagement.Razor.Constant
@model FUMiniHotelManagement.Razor.Pages.RoomTypePage.EditModel

@{
ViewData["Title"] = "Edit Room Type";
}

@{
var role = HttpContext.Session.GetString("Role");
if (role is null)
{
Response.Redirect("/Login");
return;
}
if (role.Trim() != StaticUserRole.Admin.Trim())
{
Response.Redirect("/Unauthorize");
return;
}
}

<h1>Edit Room Type</h1>

<h4>Room Type Details</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomType.RoomTypeId" />

            <div class="form-group">
                <label asp-for="RoomType.RoomTypeName" class="control-label"></label>
                <input asp-for="RoomType.RoomTypeName" class="form-control" />
                <span asp-validation-for="RoomType.RoomTypeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomType.TypeDescription" class="control-label"></label>
                <input asp-for="RoomType.TypeDescription" class="form-control" />
                <span asp-validation-for="RoomType.TypeDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomType.TypeNote" class="control-label"></label>
                <input asp-for="RoomType.TypeNote" class="form-control" />
                <span asp-validation-for="RoomType.TypeNote" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
