@page
@using FUMiniHotelManagement.Razor.Constant
@model FUMiniHotelManagement.Razor.Pages.BookingDetailPage.CreateModel

@{
    ViewData["Title"] = "Create Booking Detail";
}

@{
    var role = HttpContext.Session.GetString("Role");
    if (role is null)
    {
        Response.Redirect("/Login");
        return;
    }

    if (role.Trim() != StaticUserRole.Admin.Trim())
    {
        Response.Redirect("/Unauthorize");
        return;
    }
}

<h1>Create Booking Detail</h1>

<h4>Booking Information</h4>
<hr/>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookingDetail.BookingReservationId" class="control-label"></label>
                <select asp-for="BookingDetail.BookingReservationId" class="form-control" asp-items="ViewBag.BookingReservationId"></select>
                <span asp-validation-for="BookingDetail.BookingReservationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDetail.RoomId" class="control-label"></label>
                <select asp-for="BookingDetail.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="BookingDetail.RoomId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDetail.StartDate" class="control-label"></label>
                <input asp-for="BookingDetail.StartDate" class="form-control" type="date"/>
                <span asp-validation-for="BookingDetail.StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDetail.EndDate" class="control-label"></label>
                <input asp-for="BookingDetail.EndDate" class="form-control" type="date"/>
                <span asp-validation-for="BookingDetail.EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BookingDetail.ActualPrice" class="control-label"></label>
                <input asp-for="BookingDetail.ActualPrice" class="form-control" type="number"/>
                <span asp-validation-for="BookingDetail.ActualPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>

            <div>
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}